.layout__sidenav {
  background: var(--white-1);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
  max-width: 15.625rem;
  min-width: 15.625rem;
  transition: margin-left 0.3s ease-in-out, left 0.3s ease-in-out, margin-right 0.3s ease-in-out,
    right 0.3s ease-in-out;
  z-index: 1;
  min-height: 100vh;
}

.layout__sidenav.toggled {
  margin-left: -15.625rem;
}

.layout__sidenav__logo {
  width: calc(100% - 1.25rem);
  padding: 0.625rem;
  height: 4rem;
}

.layout__sidenav__container__profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}

.layout__sidenav__profile_picture {
  width: 4rem;
  border-radius: 50%;
}

.layout__sidenav__profile_name {
  margin: 0.3125rem 0;
  max-width: calc(100% - 1.875rem);
  text-align: center;
}
