.layout__sidenav {
  background: var(--white-1);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  min-width: 250px;
  transition: margin-left 0.3s ease-in-out, left 0.3s ease-in-out, margin-right 0.3s ease-in-out,
    right 0.3s ease-in-out;
  z-index: 1;
  min-height: 100vh;
}

.layout__sidenav.toggled {
  margin-left: -250px;
}

@media (min-width: 1px) and (max-width: 991.98px) {
  .layout__sidenav .toggled {
    margin-left: 0;
  }
}
