.main-layout__container {
  height: calc(100vh - 4rem);
  display: flex;
}

.main-layout__main {
  flex: 1;
  display: flex;
  justify-content: center;
}

.main-layout__main__section {
  display: flex;
  padding: 1rem;
  width: 100%;
  max-width: 91.75rem;
  flex-direction: column;
  gap: 1rem;
}
