.input__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  text-align: left;
}

.input__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--mu-text);
  outline: 0;
  font-size: 1.3rem;
  color: var(--mu-text);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  caret-color: var(--mu-text);
  margin-bottom: 3px;
}

.input__field::placeholder {
  color: transparent;
}

.input__field:placeholder-shown ~ .input__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.input__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--mu-text);
  pointer-events: none;
}

.input__field:focus ~ .input__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--mu-text-soft);
}

.input__field:focus {
  border-width: 3px;
  border-bottom: 2px solid var(--mu-text-soft);
  border-image-slice: 1;
}

.input__field:required,
.input__field:invalid {
  box-shadow: none;
}

.input__field ~ .input__action {
  position: absolute;
  transform: translate(-30px, 10px);
  background: none;
  border: none;
  cursor: pointer;  
}
