.input__group {
  position: relative;
  padding: 0.9375rem 0 0;
  margin-top: 0.625rem;
  text-align: left;
}

.input__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 0.125rem solid var(--input-border-bottom);
  outline: 0;
  font-size: 1.3rem;
  color: var(--input-color);
  padding: 0.4375rem 0;
  background: transparent;
  transition: border-color 0.2s;
  caret-color: var(--input-caret-color);
  margin-bottom: 0.1875rem;
}

.input__field::placeholder {
  color: transparent;
}

.input__field:placeholder-shown ~ .input__label {
  font-size: 1.3rem;
  cursor: text;
  top: 1.25rem;
}

.input__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--input-color);
  pointer-events: none;
  user-select: none;
}

.input__field:focus ~ .input__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--input-color-focused);
}

.input__field:focus {
  border-width: 0.1875rem;
  border-bottom: 0.125rem solid var(--input-border-bottom);
  border-image-slice: 1;
}

.input__field:required,
.input__field:invalid {
  box-shadow: none;
}

.input__field ~ .input__action {
  position: absolute;
  transform: translate(-1.875rem, 0.625rem);
  background: none;
  border: none;
  cursor: pointer;
}

.input__error {
  user-select: none;
  color: var(--error);
}
