.list__text {
  display: flex;
  justify-content: space-between;
  color: var(--black-1);
  padding: 0.625rem;
  user-select: none;
  cursor: pointer;
}

.list__text:hover {
  background-color: hsla(0, 0%, 0%, 0.05);
}

/* .list__container {
  background-color: hsla(0, 0%, 0%, 0.1);
} */
