:root {
  --xs: 0;
  --sm: 36rem;
  --md: 48rem;
  --lg: 62rem;
  --xl: 75rem;
  --xxl: 90rem;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  background-color: var(--white-2);
}

h1 {
  margin: 0;
}
