:root {
  --black-1: hsl(0, 0%, 0%);

  --blue-1: hsl(210, 100%, 40%);
  --blue-1-hover: hsl(210, 100%, 50%);
  --blue-1-active: hsl(210, 100%, 60%);

  --white-1: hsl(0, 0%, 100%);
  --white-2: hsla(0, 0%, 90%, 0.3);

  --card-shadow: hsla(0, 0%, 0%, 0.2);

  --input-background-color: transparent;
  --input-border-bottom: hsl(0, 2%, 23%);
  --input-caret-color: hsl(0, 2%, 23%);
  --input-color: hsl(0, 0%, 20%);
  --input-color-focused: hsl(0, 0%, 10%);

  
  --error: hsl(0, 100%, 40%);
  --error-hover: hsl(0, 20%, 1%);
}

.color-blue-1 {
  background-color: var(--blue-1);
  color: var(--white-1);
}

.color-blue-1.button:hover {
  background-color: var(--blue-1-hover);
}

.color-blue-1.button:active {
  background-color: var(--blue-1-active);
}

